.vs/

build/
Debug/
Release/
x64/
x86/

*.obj
*.pdb
*.ilk
*.ipdb
*.iobj
*.log
*.tmp

*.vcxproj.user
*.suo
*.user
*.userprefs
*.rsuser

CMakeCache.txt
CMakeFiles/
compile_commands.json

imgui.ini

assets/test/
123assets